.background {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    //background: url(/assets/girl_travel_mountains_adventure-wallpaper-1920x1080.jpg) center;
    background: url(/assets/girl-travels.jpg) center;
    background-size: cover;
}
