<mat-card>
    <mat-card-header>
        <div class="comment-header-image" mat-card-avatar></div>
        <mat-card-title>
            {{comment.user.name}}
        </mat-card-title>
        <mat-card-subtitle>
            {{comment.date | date:'dd-MM-yyyy H:m'}}
        </mat-card-subtitle>
    </mat-card-header>
    {{comment.message}}
    <mat-card-actions>
        <button (click)="toggleLike()" color="primary" mat-button>
            <mat-icon>thumb_up</mat-icon>
            LIKE
        </button>
        <!--        <mat-chip-list>-->
        <!--<mat-chip color="primary" selected>{{comment.likes}} likes</mat-chip>-->
        <!--</mat-chip-list>-->
    </mat-card-actions>
</mat-card>
