.login-card {
    width: 300px;
    position: fixed;
    transform: translateY(-50%);
    top: 40%;
    left: 10%;
    padding: 50px 50px 70px;

    mat-form-field {
        width: 100%;
    }

    button {
        width: 100%;
        margin: 0;
    }
}
