<mat-card>
    <mat-card-header>
        <mat-card-title>
            Lorem ipsum dolor.
        </mat-card-title>
    </mat-card-header>

    <img mat-card-image src="assets/itinerar.png" width="100%">

    <mat-card-actions>
        <mat-chip-list>
            <mat-chip>234 people traveled here</mat-chip>
            <mat-chip>178 people like this</mat-chip>
        </mat-chip-list>
        <button class="start-journey" color="primary" mat-flat-button>
            <mat-icon>card_travel</mat-icon>
            Start journey
        </button>
    </mat-card-actions>
</mat-card>
